body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background: linear-gradient(to bottom right, hsl(200, 80%, 25%), hsl(200, 80%, 35%), hsl(200, 80%, 25%));
}

.jumbotron {
  text-align: center;
  background: hsl(324, 3%, 35%);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
    border-radius: 15px;
    background-color: inherit;
    padding: 10px 25px;
}

/* Event descriptions */
.description{
    border: none;
    resize: none;
    color: black;
    border-left: 1px solid black;
    padding: 10px;  
    white-space: pre-wrap;
    border-bottom: 1px solid white;
}

.description:hover {
    opacity: .95;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
}

.hour {
  background-color: hsla(0, 100%, 100%, 0.9);
  color: black;
  border-top: 1px dashed black;
  border-radius: 15px 0 0 15px;
  padding-top: 10px;
  font-weight: bold;
  font-size: small;
}

/* Time-based color classes*/
.past {
  background-color: hsl(0, 0%, 87%);
}

.present {
  background-color: hsl(0, 100%, 87%);
}

.future {
  background-color: hsl(120, 100%, 87%);
}

/* Save Button styling */
.saveBtn {
  border-left: 1px solid black;
  border-radius: 0 15px 15px 0;
  background-color:  hsl(180, 100%, 35%);
  font-size: 20px;
  color: white;
}

.saveBtn:hover {
  font-size: 18px;
  background-color:  hsl(180, 100%, 25%);
  transition: all .3s ease-in-out;
}
